.card-container
{
display: flex;
flex-direction: row;
margin-top: 20px;
}

.card
{
    border:1px solid black;
    border-radius: 10px;
    padding:20px;

}

.navbar
{
background-color:;
height:10vh;
font-size: large;

}
.nav-link
{
    color:white;
    font-weight:500;
    
}
body
{
    background-image: url("https://media.istockphoto.com/id/2081793431/photo/checkmark-checklist.jpg?s=612x612&w=0&k=20&c=ACc_VZZ-wa60woJ9H8lb3_x3PVBguNYI77nWyKyaOCI=");
    background-repeat: no-repeat;
    background-size: cover;
}